:root {
  --primary-color: #299d91;
  --background-color: #fff;
  --text-color: #191d23;
  --secondary-color: #878787;
}
.dark-mode {
  --primary-color: #6cb2b8;
  --background-color: #333;
  --text-color: #191d23;
  --secondary-color: #878787;
}
.light-mode {
  --primary-color: #299d91;
  --background-color: #d0d5dd;
  --text-color: #191d23;
  --secondary-color: #878787;
}
.expense-data {
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.expense-data-container-1,
.expense-data-container-2 {
  padding: 0px 20px;
}

.expense-data-container-1 {
  width: 146px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.expense-data-container-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--text-color);
}
.expense-data-container-2 p {
  font-size: 16px;
}
.expense-data-container-2 small {
  color: var(--secondary-color);
}
.recent-container hr {
  background: var(--secondary-color);
  height: 2px;
  border: none;
}
.expense-cards {
  background: white;
  width: 360px;
  max-height: 238px;
  border-radius: 8px;
}
.type-container {
  background: var(--background-color);
  border-radius: 8px;
  height: 78px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.logo-container {
  padding: 16px 0px;
  padding-left: 24px;
}
.text-container {
  padding: 16px 0px;
  padding-right: 24px;
  height: 48px;
  width: 248px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.logo-container div {
  background-color: var(--secondary-color);
  width: 40px;
  height: 48px;
  border-radius: 8px;
}
.data-container-1 {
  width: 116px;
  height: 46px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.data-container-1 p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.data-container-1 h5 {
  margin: 0;
}
.data-container-2 {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.data-container-2 div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.data-container-2 div p {
  font-size: 14px;
}
.data-container-2 p {
  font-size: 14px;
  font-weight: 400;
}
